## 10. Create table cricketer(cid, cname, match, run) and insert 8 players records. Print player records with average. and write this data into player.csv file. Do all this task from python.Â¶

In [30]:
import sqlite3 as sq

In [31]:
import csv

In [32]:
con=sq.connect("D:\\sem-3\\python\\sqlite-tools-win-x64-3460100\\cricketer.db")

In [33]:
cur=con.cursor()

In [34]:
q="create table if not exists player(cid int primary key,cname text,match,run)"

In [35]:
cur.execute(q)

In [36]:
con.commit()

## inseert record

In [37]:
cur.execute("insert into player values(1,'rohit sharma',3,340)")

In [40]:
cur.execute("insert into player values(2,'virat kohli',4,350)")

In [41]:
cur.execute("insert into player values(3,'sachin tendulkar',5,440)")

In [43]:
cur.execute("insert into player values(4,'MS dhawan',4,340)")

In [44]:
cur.execute("insert into player values(5,'KL Rahul',3,440)")

In [45]:
cur.execute("insert into player values(6,'Hardik pandya',5,540)")

In [47]:
cur.execute("insert into player values(7,'shikhar dhawan',5,450)")

In [48]:
cur.execute("insert into player values(8,'Ravindra jadeja',4,450)")

In [51]:
con.commit()

In [52]:
cur.execute("select * from player")

In [54]:
rec=cur.fetchall()
print(rec)

[(1, 'rohit sharma', 3, 340), (2, 'virat kohli', 4, 350), (3, 'sachin tendulkar', 5, 440), (4, 'MS dhawan', 4, 340), (5, 'KL Rahul', 3, 440), (6, 'Hardik pandya', 5, 540), (7, 'shikhar dhawan', 5, 450), (8, 'Ravindra jadeja', 4, 450)]

## calculate average

In [ ]:
Cur.execute("select cid,cname,match,run,(run/match)as avg from player")
rec=cur.fetchall()
print(rec)